.settings_user,
.settings_user_avatar .Avatar__img{
    align-content: center;
    text-align: center;
    margin: 10px auto;
}
.modal-page{
   
}
.route-info{
margin-left: 10px;
border: white !important;;
}
.ButGroup{
    display: flex !important;
    align-content: center;
    margin: auto;
    padding: auto;
}

.Title{
    margin: 0px;
    color: darkgrey;
}
.BugBut{
    padding-top: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 2px;
    display: compact;
}
.routePhoto{
    margin-top: 5px;
    size: 10px;
}
.zaglushka{
    text-align: center;
}
.park_pic{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 0px;
}
.park_info{
    max-width: 100%;
    max-height: 100%;
}
.route-infoline{
   width: 100%;
}
.Header_button{
  margin-left: 30px;
}
.mapview{
    position: absolute !important;
    top: 0;
    height: 100vh;
    width: 100vh;
}

.container{
    display: flex;

    flex-direction: row;

    justify-content: flex-start;

}