.settings_user,
.settings_user_avatar .Avatar__img{
    align-content: center;
    text-align: center;
    margin: 10px auto;
}
.modal-page{
    margin: 50px auto;
    padding-bottom: 30px;
    background-color: #5181b8 !important;
    color: #3f8ae0 !important;
}
.route-info{
margin-left: 10px;
border: white !important;;
}
.routePhoto{
    margin-top: 5px;
    size: 10px;
}
.zaglushka{
    text-align: center;
}
.park_pic{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 0px;
}
.park_info{
    max-width: 100%;
    max-height: 100%;
}
.route-infoline{
   width: 100%;
}
.sub_buttons{
    display: flex;
}